:root {
  --font-fst: Georgia, Times, "Source Serif 4", serif;
  --font-snd: "Segoe UI", "Roboto", "Inter", Helvetica, Arial, sans-serif;
  --light-grey-fst: #dadde3;
  --light-grey-snd: #c8ccd1;
  --light-grey-trd: #eaecf0;
  --dark-text: #202122;
  --grey-text: #54595d;
  --icons: #54595d;
  --bg-fst: #fff;
  --bg-grey: #f8f9fa;
}

/* ******** Reset ******** */
html {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-snd);
  font-size: 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
small,
body,
div,
figure,
th,
td {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.75rem;
  font-family: var(--font-fst);
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-family: var(--font-fst);
  font-weight: 400;
}

h3 {
  font-size: 1.1rem;
}

small {
  font-size: 0.8125rem;
}

img {
  width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

span {
  color: var(--icons);
}

/* ********** CLASS STYLES ********** */
.fst-text {
  color: var(--dark-text);
}

.snd-text {
  color: var(--grey-text);
}

.bg-fst {
  background-color: var(--bg-fst);
}

.bg-grey {
  background-color: var(--bg-grey);
}

.bg-censored {
  background-color: var(--dark-text);
}

.sm-txt {
  font-size: 0.9rem;
}

.pad-main {
  padding-inline: clamp(1rem, 0.3043rem + 3.4783vw, 3rem);
}

/* *********** HEADER *********** */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-inline: clamp(1rem, 0.3043rem + 3.4783vw, 3rem); */
  height: 3.5rem;
  width: 100dvw;
  background-color: var(--light-grey-trd);

  @media screen and (min-width: 48em) {
    /* padding-inline: 3rem; */
  }
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo button {
  width: 1.5rem;
  height: 1.5rem;
}

.header-logo button {
  margin-right: 1rem;
}

.header-logo figure {
  height: 1.5rem;
}

.header-logo img {
  height: 100%;
  width: auto;
}

/* *********** BODY *********** */
.principal {
  /* padding-inline: clamp(1rem, 0.3043rem + 3.4783vw, 3rem); */
}

@media screen and (min-width: 40em) {
  .principal {
    /* padding-inline: 3rem; */
  }
}

/* ****** Name ****** */
.principal h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* ****** Nav ****** */

.principal .nav-panel {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
  font-size: 0.8125rem;
  font-weight: bold;
  border-bottom: thin solid var(--light-grey-snd);
}

.nav-panel input {
  display: none;
}

.nav-panel label {
  cursor: pointer;
  z-index: 1;
}

.nav-panel label,
.bottom-line {
  width: 3.7rem;
}

.bottom-line {
  position: absolute;
  height: 100%;
  border-bottom: 0.15rem solid var(--grey-text);
  transition: transform 150ms ease-in-out;
}

#article:checked ~ .bottom-line {
  transform: translateX(0);
}

#talk:checked ~ .bottom-line {
  transform: translateX(113.51%);
}

/* ****** Nav icons ****** */
.principal .nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  border-bottom: thin solid var(--light-grey-snd);
}

.nav-icons .language,
.nav-icons .actions {
  cursor: pointer;
}

.nav-icons .actions {
  display: flex;
  gap: 1rem;
}

/* ****** Note ****** */
.note {
  padding: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1.65;
  font-style: italic;
  margin-bottom: 0.5rem;
}

/* ****** Paragraphs ****** */

p {
  line-height: 1.65;
}

.text-container > p {
  margin-bottom: 1.25rem;
}

.text-container > p:last-child {
  margin-bottom: 0;
}

mark {
  color: inherit;
}

/* ****** Table ****** */
.table {
  width: 100%;
  margin-bottom: 2rem;
  background-color: var(--bg-grey);
  border: thin solid var(--light-grey-fst);
  border-bottom: none;
  border-collapse: collapse;
}

@media screen and (min-width: 40em) {
  .table {
    max-width: 20rem;
    float: right;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}

.table tr {
  display: flex;
  border-bottom: thin solid var(--light-grey-fst);
}

.table th,
.table td {
  padding-inline: 0.5rem;
  padding-block: 0.6rem;
  flex: 1 0;
}

.table-img figure {
  max-width: 16rem;
  margin-left: auto;
  margin-right: auto;
}

.table-img p {
  text-align: center;
}

/* ****** Summaries ****** */
.principal > details:last-child {
  margin-bottom: 0.5rem;
}

details:open span {
  transform: rotate(-180deg);
}

details:open summary {
  margin-bottom: 1rem;
}

summary {
  display: flex;
  padding-top: 1.75rem;
  padding-bottom: 1rem;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border-bottom: thin solid var(--light-grey-fst);
}

summary span {
  scale: 1.1;
  transition: transform 0.1s ease-in-out;
}
