:root {
  --font-fst: Georgia, Times, "Source Serif 4", serif;
  --font-snd: "Segoe UI", "Roboto", "Inter", Helvetica, Arial, sans-serif;
  --light-grey-fst: #dadde3;
  --light-grey-snd: #c8ccd1;
  --light-grey-trd: #eaecf0;
  --dark-text: #202122;
  --grey-text: #54595d;

  --bg-fst: #fff;
  --bg-grey: #f8f9fa;
  --link-text: #3366cc;
  --link-dark-text: #6c91da;

  --dark-grey-snd: #000000;
  --dark-grey-fst: #000305;
  --dark-grey-trd: #0d1012;
  --light-text: #eee;
  --light-grey-text: #f0f0f0;

  --dark-bg-grey: #16181a;
  --dark-bg-grey: #1d2022;
  --dark-bg-fst: #16181a;
}

/* ******** Reset ******** */
html {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-snd);
  font-size: 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
small,
body,
div,
figure,
th,
td {
  margin: 0;
  padding: 0;
}

.font-sm {
  font-size: 14px;
}

.font-lg {
  font-size: 20px;
}

h1 {
  font-size: 1.75rem;
  font-family: var(--font-fst);
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
  font-family: var(--font-fst);
  font-weight: 400;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 0.875em;
}

small {
  font-size: 0.8em;
}

img {
  width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.bg-censored {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* ********** CLASS STYLES ********** */
.color-os,
.color-light {
  background-color: var(--bg-grey);
  transition: background-color 0.25s ease-in;
}

.color-os .fst-text,
.color-light .fst-text {
  color: var(--dark-text);
  transition: color 0.25s ease-in;
}

.color-os .snd-text,
.color-light .snd-text {
  color: var(--grey-text);
  transition: color 0.25s ease-in;
}

.color-os .bg-fst,
.color-light .bg-fst {
  background-color: var(--bg-fst);
  transition: background-color 0.25s ease-in;
}

.color-os .bg-light-grey,
.color-light .bg-light-grey {
  background-color: var(--light-grey-trd);
  transition: background-color 0.25s ease-in;
}

.color-os .bg-grey,
.color-light .bg-grey {
  background-color: var(--bg-grey);
  transition: background-color 0.25s ease-in;
}

.color-os .bg-censored,
.color-light .bg-censored {
  background-color: var(--dark-text);
}

.color-os .bg-uncensored,
.color-light .bg-uncensored {
  background-color: transparent;
  transition: background-color 2s ease-out;
}

.color-os .link-text,
.color-light .link-text {
  color: var(--link-text);
  text-decoration: none;
  transition: color 0.25s ease-in;
}

.color-os .icon,
.color-light .icon {
  color: var(--grey-text);
  transition: color 0.25s ease-in;
}

.color-os .bottom-line,
.color-light .bottom-line {
  border-color: var(--grey-text);
  transition: border-color 0.25s ease-in;
}

.color-dark {
  background-color: var(--dark-bg-grey);
  transition: background-color 0.25s ease-out;
}

.color-dark .fst-text {
  color: var(--light-text);
  transition: color 0.25s ease-out;
}

.color-dark .snd-text {
  color: var(--light-grey-text);
  transition: color 0.25s ease-out;
}

.color-dark .bg-fst {
  background-color: var(--dark-bg-fst);
  transition: background-color 0.25s ease-out;
}

.color-dark .bg-light-grey {
  background-color: var(--dark-grey-trd);
  transition: background-color 0.25s ease-out;
}

.color-dark .bg-grey {
  background-color: var(--dark-bg-grey);
  transition: background-color 0.25s ease-out;
}

.color-dark .bg-censored {
  background-color: var(--light-text);
}

.color-dark .bg-uncensored {
  background-color: transparent;
  transition: background-color 2s ease-out;
}

.color-dark .link-text {
  color: var(--link-dark-text);
  transition: color 0.25s ease-out;
}

.color-dark .icon {
  color: var(--light-grey-text);
  transition: color 0.25s ease-out;
}

.color-dark .bottom-line {
  border-color: var(--light-grey-text);
  transition: border-color 0.25s ease-out;
}

.color-dark .wiki-logo {
  filter: invert(1) hue-rotate(180deg);
}

@media screen and (min-width: 64em) {
  .color-os .to-white,
  .color-light .to-white {
    background-color: var(--bg-fst);
  }

  .color-dark .to-white {
    background-color: var(--dark-bg-fst);
  }
}

@media (prefers-color-scheme: dark) {
  .color-os {
    background-color: var(--dark-bg-grey);
  }

  .color-os .fst-text {
    color: var(--light-text);
  }

  .color-os .snd-text {
    color: var(--light-grey-text);
  }

  .color-os .bg-fst {
    background-color: var(--dark-bg-fst);
  }

  .color-os .bg-light-grey {
    background-color: var(--dark-grey-trd);
  }

  .color-os .bg-grey {
    background-color: var(--dark-bg-grey);
  }

  .color-os .bg-censored {
    background-color: var(--light-text);
  }

  .color-os .bg-uncensored {
    background-color: transparent;
  }

  .color-os .link-text {
    color: var(--link-dark-text);
  }

  .color-os .icon {
    color: var(--light-grey-text);
  }

  .color-os .bottom-line {
    border-color: var(--light-grey-text);
  }

  .color-os .wiki-logo {
    filter: invert(1) hue-rotate(180deg);
  }
}

@media screen and (min-width: 64em) and (prefers-color-scheme: dark) {
  .color-os .to-white {
    background-color: var(--dark-bg-fst);
  }
}

.sm-txt {
  font-size: 0.9em;
}

.pad-main {
  padding-inline: clamp(1rem, 0.3043rem + 3.4783vw, 3rem);
}

.mar-main {
  margin-inline: clamp(1rem, 0.3043rem + 3.4783vw, 3rem);
}

/* *********** HEADER *********** */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.08);
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo button {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.header-logo figure {
  height: 1.5rem;
}

.header-logo img,
.header-logo img {
  height: 100%;
  width: auto;
}

.search input {
  display: none;
}

.search > span {
  display: none;
}

@media screen and (min-width: 40em) {
  header {
    justify-content: start;
    gap: 2rem;
  }

  .search {
    position: relative;
    width: 85%;
    max-width: 22rem;
  }

  .search input {
    display: inline;
    padding: 0;
    padding-left: 2rem;
    height: 2rem;
    width: 100%;
    background-color: transparent;
    border: thin solid var(--light-grey-snd);
  }

  .search > span {
    display: inline;
    position: absolute;
    left: 0.3rem;
    margin-top: 0.3rem;
  }

  .search button {
    display: none;
  }
}

@media screen and (min-width: 64em) {
  header {
    box-shadow: none;
  }

  .header-logo {
    gap: 2rem;
  }

  .header-logo button {
    display: none;
  }
}

/* ********** MAIN ********** */

.main {
  display: flex;
}

/* ********** NAVS ********** */

.right-nav,
.left-nav {
  display: none;
}

.right-nav {
  position: absolute;
  top: 3.5rem;
  left: 0.5rem;

  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 1rem;

  transition: visibility 5s ease-in;
}

.index a:visited {
  font-weight: bold;
}

.appearance-option {
  display: flex;
  flex-direction: column;
}

.appearance-option p {
  border-bottom: thin solid var(--light-grey-snd);
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
}

.option,
.special-label {
  padding-top: 0.5rem;
}

.appearance-option .special-label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  max-width: 100%;
}

.special-label img {
  max-width: 10rem;
}

.appearance-option input[type="checkbox"] {
  display: none;
}

@keyframes move {
  0% {
    transform: translateX(2%);
  }

  50% {
    transform: translateX(-2%);
  }

  100% {
    transform: translateX(2%);
  }
}

#special:checked + .special-label img {
  animation: move 0.075s linear infinite;
}

.option input,
.option label {
  cursor: pointer;
}

@media screen and (min-width: 64em) {
  .main {
    padding-inline: 3rem;
  }

  .right-nav {
    position: static;
    box-shadow: none;
    z-index: 1;
    padding: 0;
  }

  .right-nav,
  .left-nav {
    display: block !important;
    min-width: 13rem;
    min-width: 16rem;
    min-width: clamp(13rem, 9.5714rem + 5.3571vw, 16rem);
    padding-top: 4.65rem;
  }

  .left-nav {
    padding-right: 2rem;
  }

  .right-nav {
    padding-left: 2.5rem;
  }

  .sticky-container {
    margin-bottom: 1rem;
    position: sticky;
    top: 1.5rem;
  }

  .right-nav h4,
  .left-nav h4 {
    display: flex;
    align-items: center;
    height: 2rem;
    border-bottom: thin solid var(--light-grey-snd);
  }

  .index {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
  }
}

/* *********** BODY *********** */
@media screen and (min-width: 64em) {
  body {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
  }

  .wide {
    max-width: 100vw;
  }
}

/* ****** Name ****** */
.principal h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 64em) {
  .principal {
    padding-inline: 0;
  }

  .principal h1 {
    border-bottom: thin solid var(--light-grey-snd);
    padding-bottom: 0.15rem;
  }
}

/* ****** Nav ****** */

.principal .nav-panel {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
  font-size: 0.8125rem;
  font-weight: bold;
  border-bottom: thin solid var(--light-grey-snd);
}

.nav-panel input {
  display: none;
}

.nav-panel label {
  cursor: pointer;
  z-index: 1;
}

.nav-panel label,
.bottom-line {
  width: 3.7rem;
}

.bottom-line {
  position: absolute;
  height: 100%;
  border-bottom: 0.15rem solid var(--grey-text);
  transition: transform 150ms ease-in-out;
}

#article:checked ~ .bottom-line {
  transform: translateX(0);
}

#talk:checked ~ .bottom-line {
  transform: translateX(113.51%);
}

/* ****** Nav icons ****** */
.principal .nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  border-bottom: thin solid var(--light-grey-snd);
}

.nav-icons .language,
.nav-icons .actions {
  cursor: pointer;
}

.nav-icons .actions {
  display: flex;
  gap: 1rem;
}

/* ****** Note ****** */
.note {
  padding: 0.5rem;
  font-size: 0.8125em;
  line-height: 1.65;
  font-style: italic;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 64em) {
  .note {
    padding-left: 2.5rem;
    font-size: 1em;
    background-color: transparent !important;
  }
}

/* ****** Paragraphs ****** */

p {
  line-height: 1.65;
}

.text-container > p {
  margin-bottom: 1.25rem;
}

.text-container > p:last-child {
  margin-bottom: 0;
}

details > p {
  margin-bottom: 1.25rem;
}

details > p:last-child {
  margin-bottom: 0;
}

mark {
  color: inherit;
}

.snd-p {
  display: none;
}

@media screen and (min-width: 64em) {
  .fst-p {
    display: none;
  }
  .snd-p {
    display: block;
  }
}

/* ****** Table ****** */
.table {
  width: 100%;
  margin-bottom: 2rem;
  border: thin solid var(--light-grey-fst);
  border-bottom: none;
  border-collapse: collapse;
}

.table tr {
  display: flex;
  border-bottom: thin solid var(--light-grey-fst);
}

.table th,
.table td {
  padding-inline: 0.5rem;
  padding-block: 0.6rem;
  flex: 1 0;
}

.table-img figure {
  max-width: 16rem;
  margin-left: auto;
  margin-right: auto;
}

.table-img p {
  text-align: center;
}

@media screen and (min-width: 40em) {
  .table {
    max-width: 20em;
    float: right;
    margin-left: 2rem;
    margin-bottom: 1rem;
    border: thin solid var(--light-grey-fst);
  }

  .table .title-name {
    font-size: 1.1em;
    padding-bottom: 0;
  }

  .table .title-th {
    max-width: 36%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  }

  .table tr {
    border-bottom: none;
  }
}

/* ****** Summaries ****** */
.summaries-container > details:last-child {
  margin-bottom: 0.5rem;
}

.summaries-container {
  min-width: 100%;
  display: inline-block;
}

details:open span {
  transform: rotate(-180deg);
}

details:open summary {
  margin-bottom: 1rem;
}

summary {
  display: flex;
  padding-top: 1.75rem;
  padding-bottom: 1rem;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border-bottom: thin solid var(--light-grey-fst);
}

summary span {
  scale: 1.1;
  transition: transform 0.1s ease-in-out;
}

@media screen and (min-width: 64em) {
  .summaries-container {
    min-width: none;
    display: inline;
  }

  details:open summary {
    margin-bottom: 0.5rem;
  }

  summary {
    cursor: initial;
    padding-bottom: 0.5rem;
    pointer-events: none;
  }

  summary span {
    display: none !important;
  }
}

/* *********** FOOTER *********** */

/* ***** Nav top ***** */
.nav-top {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  max-height: 3.25rem;
  font-size: 0.875em;
  color: var(--icons);
  padding-block: 0.75rem;
  border-bottom: thin solid var(--light-grey-snd);
  border-top: thin solid var(--light-grey-snd);
}

.edited {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
}

/* ***** Card ***** */
.other-people {
  margin-block: 2.5rem;
}

.other-people small {
  letter-spacing: 0.0625px;
}

.cards-container {
  display: grid;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

@media screen and (min-width: 64em) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.info-card {
  display: flex;
  padding: 0.75rem;
  gap: 0.75rem;
  overflow: hidden;
  border: thin solid var(--light-grey-snd);
}

.info-card p {
  line-height: 1.375;
}

.info-card p:first-child {
  margin-bottom: 0.25rem;
}

.info-card figure {
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
}

.info-card img {
  height: 100%;
  object-fit: cover;
}

.info-card article {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
}

/* ***** Nav bottom ***** */
.nav-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.75rem;
}

.nav-bottom > img {
  width: auto;
  height: 1.5rem;
}

.copyrights {
  display: flex;
  gap: 1rem;
}

.copy-card {
  padding-top: 0.6rem;
  text-align: center;
  width: 3rem;
  height: 3rem;

  border: thin solid #72777d;
}

.copy-card img {
  width: 1.6rem;
}

/* ***** Links ***** */
a {
  cursor: pointer;
  text-decoration: none;
}

.cards-container a {
  color: inherit;
}

.copy-container {
  padding-block: 0.75rem;
  border-top: thin solid var(--light-grey-snd);
}

.copy-text {
  margin-bottom: 1rem;
}

.copy-text,
.urls {
  font-size: 0.875em;
  line-height: 2;
}

.urls a::after {
  content: " • ";
  padding-inline: 0.25em;
}

.urls a:last-child::after {
  content: "";
}

/* ********** Modal ********** */

.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;

  display: none;
  align-items: center;
  justify-content: center;

  padding: 1rem;

  background-color: rgba(0, 0, 0, 0.75);
}

.media-charger {
  display: none;
}

@media screen and (min-width: 64em) {
  .modal {
    padding: 0rem;
  }
}

.modal video {
  width: 100%;
  height: auto;
}

.modal span {
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: #fff;
  text-shadow: 0rem 0.1rem 0.5rem #fff;
}
